*{
    margin: 0;
    padding: 0;
}
body{
    flex-direction: column;
    background-image: url(./beauty-woman-black-skin-face-smiling-model-touching-her-face-isolated-white_431835-7534.webp);

}
.input{
    display: flex;
    justify-content: center;
    margin-top: 440px;
    background-color: black;
    padding: 25px;
    
}
.Quantity .button{
    border-radius: 10px;
}